.recommended {
    width: 100%;
    /* height: 600px; */
    /* max-height: 1000dvh; */
    /* top: 650px; */
    left: auto;
    right: 0;
    position: static;
    background-color: #fed9a8;
}

.recommended-menu-name {
    color: #ee4d2d !important;
}

.recommended-content {
    padding: 10px;
    padding-right: 0px;
    padding-top: 25px;
    color: black;
    height: 90%;
}

.recommended-item {
    width: 100%;
    height: 100%;
}

.recommended-show-img {
    /* height: 200px; */
    border-radius: 20px;
    box-shadow: 5px 10px white;
}

.img-other {
    height: 90%;
    max-width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 10px;
    transition-duration: 300ms;
}

.img-other:hover {
    cursor: pointer;
    box-shadow: 5px 10px rgba(255, 255, 255, .8);
}

.btn-recommend-order {
    border-radius: 20px !important;
    color: white !important;
    background-color: #ee4d2d !important;
}

@media only screen and (min-width: 900px)
{
    .recommended-item-two {
        margin-top: 5rem;
    }
}

@media only screen and (max-width: 899px)
{
    .recommended-item-two {
        margin-top: -11rem;
    }
}