.news-header {
    padding: 60px;
    position: static;
    left: 0;
    color: black;
    background-color: #fff9f0;
}

.news-header h1 {
    text-align: center;
    color: #ee4d2d;
    font-weight: 600 !important;
}

.btn-menu {
    border-radius: 20px !important;
    color: black !important;
    background-color: #fff9f0 !important;
    border: solid 1px #ee4d2d !important;
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
    margin-left: .5rem !important;
    margin-right: .5rem !important;
}

.btn-menu.active {
    color: white !important;
    background-color: #ee4d2d !important;
}

.btn-menu:hover {
    color: white !important;
    background-color: #ee4d2d !important;
}